body {
    background-color: #f4f7f6;
}

.container {
    margin-top: 40px;
}

.crd {
    background-color: #f8f9fa;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 114%;
    margin-left: -100px;
    margin: -40px;
    min-height: 500px;
    margin-left: -99px;
}

.heade {
    background-color: #4268a1;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-label {
    text-align: right;
    font-weight: bold;
}

.form-control {
    border-radius: 4px;
    padding: 4px;
}

.btn-dark {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

    .btn-dark:hover {
        background-color: #333;
    }

.card-body {
    margin-top: 40px;
}