
body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 1240px;
}

.card, .panel, .car, .cad {
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: -140px;
}

.heade, .hea, .card-heade {
    background-color: #4268a1;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-heade {
    background: linear-gradient(to right, #093f82, #2b71c7);
}


    .heade h4, .hea h4, .card-heade h4 {
        margin: 0;
    }

.form-group, .row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-label {
    text-align: right;
    margin-right: 10px;
    flex: 0.3;
}

.form-control, .form-group input, .form-group select {
    flex: 0.7;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size:14px;
}

 .form-group-flex input {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

.btn-dark {
    background-color: black;
    color: white;
}

#return-to-view {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.panel {
    min-height: 400px;
    margin-left: 237px;
    width: 81%;
}

.mt-4 {
    margin-top: 1.5rem !important;
    margin-left: 14px;
}

.text-end {
    font-size: 14px;
    font-weight: bold;
}

.btn-light {
    color: white;
    background-color: black;
    border-color: #f8f9fa;
}

    .btn-light:hover {
        background-color: black;
        border-color: white;
        color: white;
    }

.equal-width-btn {
    width: 95px;
    padding: 4px;
}